<!---------------- Project {project-num} ---------------->
<div class="panel panel-default ">
  <div class="panel-heading collapsed" role="tab" id="heading{project-num}" data-toggle="collapse" data-parent="#accordion" data-target="#collapse{project-num}" aria-expanded="true" aria-controls="collapse{project-num}">
    <h4 class="panel-title">
      <a class="accordion-toggle">
        {project-title}
      </a>
    </h4>
  </div>
  
  <div id="collapse{project-num}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{project-num}">
    
    <div class="panel-body">
      <!-- status bar -->
      <div class="status-div">
        <h3 class="h4 fh5co-no-margin-bottom">Status: {status}</h3>
        <div class="progress">
          <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: {status-percent}%">
          </div>
        </div>
      </div>
      <!-- status bar -->
      <!-- project description -->
      {project-description}
      <!-- project description -->
      <!-- button -->
      <div class="padding-top-20">
        <a href="projects/{project-filename}.html" class="btn btn-primary btn-sm">Read More</a>
      </div>
    </div>
  </div>
</div>
<!---------------- Project {project-num} ---------------->